$brand-light-grey:#F5F5F5;
$brand-grey:#CFCFCF;
$brand-orange:#FF9829;
$brand-yellow:#FFCD29;
$error-color:#ff6229;

$pad-xxlarge: 300px;
$pad-xlarge: 200px;
$pad-large: 100px;
$pad: 50px;
$pad-demi: 25px;
$pad-min: 15px;
$pad-xmin: 10px;
$rad: 5px;
$trans: all 0.3s;
$border: 1px solid $brand-light-grey;
$shadow: 0 0 3px rgba(0, 0, 0, 0.2);

@mixin box-shadow {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}


$screen-xs-min: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1600px;

@mixin black-gradient {
  &::after {
    content: '';
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-bottom-left-radius: $rad;
    border-bottom-right-radius: $rad;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );
  }
}

@mixin min-xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin min-xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin max-xxl {
  @media (max-width: #{$screen-xxl-min}) {
    @content;
  }
}
