.wysiwyg {
  margin-top: $pad-min;
  background-color:$brand-light-grey;
  border-radius: $rad;
  padding-block: $pad-min;
  &_editor-input {
    padding: $pad-min;
    .text-input {
      padding: 0;
    }
  }

}

